<html>
    <head>
    <title> Add New User </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div class="header">
            <h2> Add New User </h2>
        </div>
        <form method="post" action="adduser.php">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" value="">
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" value="">
            </div>
            <div class="input-group">
                <button type="submit" class="btn" name="add_user">Add User</button>
            </div>
        </form>
    </body>
</html>
