<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Booking App</h1>
        <p>Welcome to the booking app. Please select an option from the menu above.</p>
    </body>
</html>
